target/
!.mvn/wrapper/maven-wrapper.jar
*.gz
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.idea/
/.mvn/
/mvnw.cmd
/mvnw
/src/main/frontend/node_modules/
/src/main/frontend/e2e/
/alarm-call.log
