<div class="main-panel">
  <div class="content" style="margin-top: 0">
    <div class="row" style="margin-left: 15px; margin-right: 15px; margin-top: 20px">
      <div class="col-md-12">
        <div class="card card-stats card-raised">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <div class="statistics">
                  <div class="info">
                    <div class="icon icon-primary">
                      <i class="now-ui-icons ui-2_chat-round"></i>
                    </div>
                    <h3 class="info-title">859</h3>
                    <h6 class="stats-title">Alarms</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="statistics">
                  <div class="info">
                    <div class="icon icon-success">
                      <i class="now-ui-icons business_money-coins"></i>
                    </div>
                    <h3 class="info-title">
                      <small>$</small>
                      3,521
                    </h3>
                    <h6 class="stats-title">Spent</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="statistics">
                  <div class="info">
                    <div class="icon icon-info">
                      <i class="now-ui-icons users_single-02"></i>
                    </div>
                    <h3 class="info-title">562</h3>
                    <h6 class="stats-title">Clients</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="statistics">
                  <div class="info">
                    <div class="icon icon-danger">
                      <i class="now-ui-icons objects_support-17"></i>
                    </div>
                    <h3 class="info-title">353</h3>
                    <h6 class="stats-title">Success Calls</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-left: 15px; margin-right: 15px; margin-top: 20px">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" style="font-weight: 400"> Calls</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <tr>
                  <th>Client Name</th>
                  <th>Phone</th>
                  <th>Duration</th>
                  <th>Status</th>
                  <th class="text-right">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Bohdan Korinnyi</td>
                  <td>380967726889</td>
                  <td>55 sec</td>
                  <td>Completed</td>
                  <td class="text-right">$ 0.18</td>
                </tr>
                <tr>
                  <td>Bohdan Korinnyi</td>
                  <td>380967726889</td>
                  <td>55 sec</td>
                  <td>Completed</td>
                  <td class="text-right">$ 0.18</td>
                </tr>
                <tr>
                  <td>Bohdan Korinnyi</td>
                  <td>380967726889</td>
                  <td>55 sec</td>
                  <td>Completed</td>
                  <td class="text-right">$ 0.18</td>
                </tr>
                <tr>
                  <td>Bohdan Korinnyi</td>
                  <td>380967726889</td>
                  <td>55 sec</td>
                  <td>Completed</td>
                  <td class="text-right">$ 0.18</td>
                </tr>
                <tr>
                  <td>Bohdan Korinnyi</td>
                  <td>380967726889</td>
                  <td>55 sec</td>
                  <td>Completed</td>
                  <td class="text-right">$ 0.18</td>
                </tr>
                <tr>
                  <td>Bohdan Korinnyi</td>
                  <td>380967726889</td>
                  <td>55 sec</td>
                  <td>Completed</td>
                  <td class="text-right">$ 0.18</td>
                </tr>
                <tr>
                  <td>Bohdan Korinnyi</td>
                  <td>380967726889</td>
                  <td>55 sec</td>
                  <td>Completed</td>
                  <td class="text-right">$ 0.18</td>
                </tr>
                <tr>
                  <td>Bohdan Korinnyi</td>
                  <td>380967726889</td>
                  <td>55 sec</td>
                  <td>Completed</td>
                  <td class="text-right">$ 0.18</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
