<!doctype html>
<html lang="en" class="perfect-scrollbar-on">
<head>
    <meta charset="utf-8">
    <title>Frontend</title>
    <base href="/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="api/favicon.ico">
    <link href="api/styles.c4bf60c1226cc4810c92.bundle.css" rel="stylesheet"/>
</head>
<body class="sidebar-mini"><!--class="sidebar-mini"-->
<app-root></app-root>
<script type="text/javascript" src="api/inline.318b50c57b4eba3d437b.bundle.js"></script>
<script type="text/javascript" src="api/polyfills.194f3db5c95bb635c66b.bundle.js"></script>
<script type="text/javascript" src="api/scripts.95dec216223a5a21d621.bundle.js"></script>
<script type="text/javascript" src="api/main.c99b240ed9aad837dbd5.bundle.js"></script>
</body>
</html>